/* cookie tyyli */
#cookie-popup {
  position: fixed;
  left: 20px; 
  bottom: 20px;
  width: 300px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0px 6px 10px rgba(0, 128, 0, 0.3); 
  display: none;
       z-index: 9999;
}

#cookie-popup h2 {
  margin-top: 0;
  font-size: 18px;
}

#cookie-accept, #cookie-reject {
  background-color: #008000; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#cookie-accept:hover, #cookie-reject:hover {
  background-color: #006400; 
}

.cookie-popup-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cookie-popup-buttons a {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cookie-popup-buttons a:hover {
    background-color: #0056b3;
}
  



/* footer tyyli */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000; 
    padding: 20px;
    flex-wrap: wrap;
}

.footer-left, .footer-middle, .footer-right {
    flex-basis: 30%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-left p,
.footer-middle p,
.footer-right ul,
.footer-left h3, 
.footer-middle h3, 
.footer-right h3 { 
    color: #fff; 
}

.footer-middle blockquote { 
    color: #fff; 
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin-bottom: 10px;
}

.footer-right a {
    display: block;
    color: #fff; 
    text-decoration: none;
}

.footer-bottom {
    width: 100%;
    background-color: #000; /
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    justify-content: center;
}




/* footer mobiili responsivuus */

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-left,
    .footer-middle,
    .footer-right {
        flex-basis: 100%;
        padding: 10px 0;
    }
}

        .keskita {
    text-align: center;
  }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fff; 
        }
        html, body {
    overflow-x:hidden;
    width:100%;
   
    margin: 0;
    padding: 0;
}
/* header tyyli */
        header {
            background-color: #008000;
            color: #fff;
            padding: 20px;
            display: flex;
            align-items: center;
            border-radius: 15px; 
            margin: 20px; 
             flex-wrap: wrap; 
        }
        header img {
            height: 50px; 
        }
        nav {
            flex-grow: 1; 
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
        }
        nav ul li {
            margin-right: 20px;
            position: relative;
        }
        nav ul li a {
            text-decoration: none;
            color: #fff;
            padding: 10px;
            display: block;
        }
        nav ul li ul {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #333;
            padding: 0;
            display: none;
             z-index: 1000;
        }
        nav ul li:hover ul {
            display: block;
        }
        nav ul li ul li {
            margin-right: 0;
            width: 150px; 
        }
/* header mobile responsivuus */
@media screen and (max-width: 768px) {
    header {
        padding: 10px; /
        margin: 10px; 
        text-align: center; 
    }

    header img {
        height: 40px; 
        margin: 0 auto; 
        display: block; 
    }

    nav {
        width: 100%; 
    }

    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        margin: 10px 0; 
        position: static; 
    }

    nav ul li ul {
        position: static; 
        background-color: transparent; 
        display: none; 
    }

    nav ul li:hover ul {
        display: block; 
        position: static; 
    }

    nav ul li ul li {
        width: auto; 
        margin: 0; 
    }

    nav ul li:last-child {
        margin-bottom: 20px; 
    }
}




        /* kissan ystavien section */

        .kissanystavien-tietopankki {
            padding: 50px 20px;
            text-align: center;
            background-image: url('animal-cat-feline-mammal-fauna-eyes-1162068-pxhere.com.jpg'); 
            background-repeat: no-repeat; 
            background-size: cover; 
            background-position: center; 
            border-radius: 15px; 
            margin: 20px; 
            position: relative; 
        }

        .kissanystavien-tietopankki::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 15px; 
        }

        .kissanystavien-tietopankki h2,
        .kissanystavien-tietopankki p {
            position: relative; 
            z-index: 1; 
            color: #fff; 
        }

       /* artikkeli section */

        .artikkeleita {
            display: flex;
            justify-content: center; 
            flex-wrap: wrap; 
            padding: 20px;
            
            margin: 20px;
            background-color: #f2f2f2; 
        }

        .artikkeli {
            flex: 0 0 30%; 
            margin-bottom: 20px; 
            text-align: center; 
        }

        .artikkeli img {
            width: 100%; 
            max-width: 100%; 
            height: auto; 
            border-radius: 10px; 
            margin-bottom: 10px;
            width: 300px; 
            height: 250px; 
        }

        .artikkeli h3 {
            margin-top: 0;
        }
/* Artikkeli media responsivuus */

        @media screen and (max-width: 768px) {
    .artikkeli {
        flex: 1 0 100%; 
    }

    .artikkeli img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
        border-radius: 10px; 
        margin-bottom: 10px;
        width: auto; 
        height: auto;
    }
}
/* image and text section */

.kartta {
    display: flex;
    align-items: center;
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px; 
    border-radius: 10px; 
    overflow: hidden;
}

.kartta .left {
    flex: 1;
    margin-right: 20px; 
}

.kartta .left img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.kartta .right {
    flex: 1;
}

.kartta h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.kartta p {
    font-size: 16px;
    line-height: 1.6;
}
/* image and text section media responsivuus */

@media screen and (max-width: 768px) {
    .kartta {
        flex-direction: column; 
    }

    .kartta .left,
    .kartta .right {
        width: 100%;
        margin: 0; 
    }

    .kartta .left iframe {
        width: 100%; 
        height: auto; 
    }
}
/* kysely.html tyylit */
 .container {
    max-width: 90%; 
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input[type="text"],
.container input[type="email"],
.container textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}


    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        background-color: #008000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #006400;
    }

    @media screen and (max-width: 768px) {
        .container {
            margin: 10px;
            padding: 10px;
        }
    }

.kuvat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.kuva {
    text-align: center;
}

.kuva img {
    border-radius: 10px;
}

.kuva p {
    margin-top: 10px;
}
        @media (max-width: 768px) {
    .kuvat {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

        .content {
    margin: 0 auto; 
    max-width: 600px; 
    text-align: left; 
}
 main {
            text-align: center;
            padding: 20px;
        }

        section {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 30px;
        }

        h1 {
            color: #333;
            margin-bottom: 20px;
        }

.content {
    background-color: #fff;
    border-radius: 10px;
    
    margin-bottom: 20px;
    padding: 30px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


        p {
            color: #333;
            line-height: 1.6;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        iframe {
            border-radius: 5px;
        }
           @media (min-width: 768px) {
        .side-content {
            flex-direction: row;
        }
        .side-content > div {
            flex: 1;
        }
    }

    @media (max-width: 767px) {
        .side-content {
            flex-direction: column;
        }
    }
   .container {
    max-width: 90%; 
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container input[type="text"],
.container input[type="email"],
.container textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px; 
    }
}


    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        background-color: #008000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #006400;
    }

    @media screen and (max-width: 768px) {
        .container {
            margin: 10px;
            padding: 10px;
        }
    }
    